<% @posts.each do |post| %>
  <p><%= post.message %></p>
  <form action="/:1" method="GET">
    <input type="submit" value="See Post" name="See Post">
  </form>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
